// div {
//     background: #2A9FBC;
//     border-radius: 0.5em;
//     margin: 1.5em 0;
//     padding: 1em 1.2em;
// }

:host(.example) {
    background: #A62E5C;
    border-radius: 0.5em;
    //Since app-nav element is a custom element, the browser
    //has no default style for it. So we need to add display: block
    //to make it a block-type element
    display: block;
    margin: 1.5em 0;
    padding: 1em 1.2em;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    padding: 0 1em;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}